@import '../../colors.css';

.page-header {
    background-color: var(--black-100);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 8px 25px;
}

.brand {
    margin: 0;
    display: flex;
    width: 140px;
    justify-content: space-between;
}

.brand > h3 {
    margin: 0;
}


.width-300 {
    width: 300px;
}