@import 'colors.css';

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
}

main {
  margin-left: 3rem;
}

h1 {
  font-weight: normal;
  font-size: 2rem;
}

h2 {
  font-weight: normal;
  font-size: 1.7rem;
}

h3 {
  font-weight: normal;
  font-size: 1.4rem;
}

h4 {
  font-weight: normal;
  font-size: 1.1rem;
}

h5 {
  font-weight: normal;
  font-size: 0.8rem;
}

/* Backgrounds */
.background-yellow {
  background-color: var(--yellow) !important;
}

.background-green {
  background-color: var(--green) !important;
}

.background-red {
  background-color: var(--red) !important;
}