svg {
    display: inline-block;
    vertical-align: middle;
}

.controls {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    padding: 5px 15px;
}

@media only screen and (max-width: 600px) { 
    .btn {
        font-size: 0.5rem;
        padding: 2px 5px;
    }

    .controls {
        margin-top: 1rem;
    }
}